{% extends "base.html" %}
{% block titulopagina %}Formulario de consulta Pública de Estándares del SGC{% endblock %}
{% block presentacion %} {% endblock %}
{% block Contenido%}
<p> Este formulario está diseñado para que los usuarios de los estándares tanto del SGC como externos al SGC puedan hacer observaciones o contribuciones que consideren al respectivo estándar, antes de que el mismo sea acogido y oficializado.
El diligenciamiento por parte de los usuarios y la respectiva evaluación por parte del grupo de estándares es una etapa clave en el proceso de consulta pública.</p>

    <br>
    <div align="center">
    <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}l